body {
    background-color: antiquewhite;
}
.ui.segment:first-child{
    background-color: darkgray;
    border: 2px solid burlywood;
}
.ui.form .field>label {
    font-size: 17px;
    font-style: italic;
    color: burlywood;
}
.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
}

.image-list img {
    width: 250px;
    grid-row-end: span 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}